body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f8f1e7;
  color: #C07F00;
}

.header-container {
  position: relative;
  text-align: center;
  padding: 20px;
  top: -90px;
}


.header-container h1 {
  margin: 0;
    font-size: 2.4em;

  color: #4C3D3D;
  font-family: serif;
}

.header-container h2 {
  margin: 0;
  font-size: 1em;
  color: #4C3D3D;
  font-family: serif;
}

.kosher {
  width: 200px;
  height:80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: #4C3D3D;
/*   border: 3px solid #4C3D3D;
 *//*   border-radius: 50%;
 *//*   transform: rotate(10deg);
 */  font-size: 0.65rem;
  padding: 8px;
/*   box-sizing: border-box;
 */  line-height: 1.2;
  position: absolute;
  right: 250px;
}

.all {
  display: flex;
  
  flex-direction: row;
  
  
}

.menu1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1px;
}
.menu2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1px;
}

.section {
  background-color: #f8f1e7;
  border: 3px solid #4C3D3D;
  border-radius: 8px;
  width: 110%;
  position: relative;
  top: -50px; /*67 תחילה */
  right: -6px; /*45 תחילה */
  height: 595px;
}


.num{
  position: relative;
  right:55px;
}
.section h3 {

  
position: relative;
  font-size: 1.2em;
  color: #C07F00;
  background-color: #4C3D3D;
  padding: 10px 15px;
  top: -18px;
  
  direction: rtl;
}
.sizes {
  direction: ltr;
  font-weight: 300;
  font-size: 9px;
  position: relative;
  left: 10px;
}

.item {
    margin-bottom: 5px;
  color: #C07F00;
  position: relative;
  top: -25px;
  direction: rtl;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.item span {
  display: inline-block;
  float: left;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #4C3D3D;
  color: #C07F00;
}

footer a {
  color: #C07F00;
  text-decoration: none;
}

/* רספונסיביות למסכים קטנים */
@media (max-width:413px) {
  .one{
    margin-top: 1px;
    margin-left: 110px;
  }


    .header-container  {
    position: relative;
    top: 18px;
    right: 53px;
  }
  .header-container h1 {

    position: relative;
    top: -50px;
    right: -7px;
  }

  .header-container h2 {
    position: relative;
    top: -50px;
    right: -9px;
  }
  

  .kosher {
    width: 70px;
    height: 70px;
    font-size: 0.6rem;
    padding: 1px;
    line-height: 1.1;
    top: -56px;
    right: -37px;
/*     transform: rotate(22deg);
 */  }



  .menu1 {
    position: relative;
    left: 7px;
    padding: 0;
    margin-left: 7px;
  }
   .menu2 {
    position: relative;
    right: 65px;
    padding: 0;
    margin-left: 7px;
  }

  .section h3 {

    font-size: 1em;
    padding: 8px;
  }

  .item {
    position: relative;
    right: 6px;
    direction: rtl;
font-weight: 300;
  font-size: 11px;  
    padding-left: 15px;
  }


  footer {
    position: relative;
    font-size: 0.9em;
    padding: 15px;
    top: -35px;
    width: 120%;
  }

  .all{
    position: relative;
    right: 115px;
    width: 140%;
  }
}





.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  background-color: #FFF7D4;
}
.SectionLogo {
  height: 100%;
}



/* styles.css */
.color-box {
  margin: auto;
  margin-top: 50px;
  width: 300px;
  height: 300px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  font-family:Noto Serif Hebrew;
  
  text-align: center;
  border-radius: 12px;
  overflow: hidden;
}

.color-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #1F1F1F;
}

/* צבעים לפי הסדר ששלחת */
.section1 {
  background-color: #F8F6F1;
}

.section2 {
  background-color: #C07F00;
  color: white;
}

.section3 {
  background-color: #FFD95A;
}

.section4 {
  background-color: #B4B4B4;
}

.section5 {
  background-color: #C07F00 ;
}
